<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Edit Post</title>
</head>
<body>
<div align="center">
    <h1>Edit Post</h1>
    <br />
    <form action="#" th:action="@{/save}" th:object="${post}"
          method="post">

        <table border="0" cellpadding="10">
            <tr>
                <td>Post ID:</td>
                <td>
                    <input type="number" th:field="*{postId}" readonly="readonly" />
                </td>
            </tr>
            <tr>
                <td>Post Title:</td>
                <td>
                    <input type="text" th:field="*{postTitle}" />
                </td>
            </tr>
            <tr>
                <td>Post Status:</td>
                <td><input type="text" th:field="*{postStatus}" /></td>
            </tr>
            <tr>
                <td>Time of Start Editing:</td>
                <td><input type="datetime-local" th:field="*{create_time}" /></td>
            </tr>
            <tr>
                <td>Time of finish Editing:</td>
                <td><input type="datetime-local" th:field="*{update_time}" /></td>
            </tr>
            <tr>
                <td>Post Content:</td>
                <td><input type="text" th:field="*{postContent}" /></td>

                <td colspan="2"><button type="submit">Save</button> </td>


            </tr>
        </table>
    </form>
</div>
</body>
</html>
