<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Edit Post</title>
    <link th:href="@{/css/edit_post.css}" rel="stylesheet" />
</head>
<body>
<div align="center">
    <h1>Edit Post</h1>
    <a id="links" href="/"><button class="head_comands">Home Page</button></a>
    <br />
    <form action="#" th:action="@{/save}" th:object="${post}"
          method="post">

        <table border="0" cellpadding="10">
            <tr>
                <td>
                    <input type="number" th:field="*{postId}" readonly style="display:none" />
                </td>
            </tr>
            <tr>
                <td>Post Title:</td>
                <td>
                    <input type="text" th:field="*{postTitle}" />
                </td>
            </tr>
            <tr>
                <td>Creation Time:</td>
                <td>
                    <input type="date" th:field="*{create_time}" readonly/>
                </td>
            </tr>
            <tr>
                <td>Post Status:</td>
                <td>
                    <select postStatus = "postStatus">
                        <option value = "DRAFT">DRAFT</option>
                        <option value = "PUBLISHED">PUBLISHED</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td>Post Content:</td>
                <td><input type="text" th:field="*{postContent}" /></td>
            </tr>

            <tr>

                <td>User id:</td>
                <td><input type="number" th:field="*{userId.userId}" readonly style="display:none"/></td>
            </tr>
            <tr>
                <td>User Name:</td>
                <td><input type="text" th:field="*{userId.userName}" readonly/></td>
            </tr>




                <td colspan="2"><a id="links2" th:href="@{/save}"><button class="head_comands">Save</button></a>


            </tr>
        </table>
    </form>
</div>
</body>
</html>
