<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <title>Post Manager</title>
</head>
<body>
<div align = "center">
    <h1>Post Manager</h1>
    <table border = "1">
        <thead>
        <tr>
            <th>Post ID</th>
            <th>Post Title</th>
            <th>Post Content</th>
            <th>Created At</th>
            <th>Update At</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>

        </tbody>

    </table>
</div>

</body>
</html>
