<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>BLOG Manager</title>
    <div align="center" >
        <h1><font size = "10">WELCOME TO yBLOG</font><br /></h1>

    </div>

</head>
<body>
<div align="center">
    <div align="right-center">
        <a th:href="@{posts}"><font size = "7">POST</font><br /></a>
    </div>

    <div align="left-center">
        <a th:href="@{users}"><font size = "7">USERS</font><br /></a>
    </div>


</div>
</body>
</html >
