<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Create New User</title>
    <link th:href="@{/css/new_user.css}" rel="stylesheet"/>
</head>
<body>
<div align="center">
    <h1>Create New User</h1>
    <a id="links3" href="/"><button class="head_comands">Home Page</button></a>
    <br />
    <form action="#" th:action="@{/saveuser}" th:object="${user}"
          method="post">

        <table border="0" cellpadding="10">

            <tr>
                <td>UserName:</td>
                <td><input type="text" th:field="*{userName}" /></td>
            </tr>
            <tr>
                <td>User Password:</td>
                <td><input type="password" th:field="*{userPassword}" /></td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td><input type="text" th:field="*{userLastName}" /></td>
            </tr>
            <tr>
                <td>First Name:</td>
                <td><input type="text" th:field="*{userFirstName}" /></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><input type="email" th:field="*{userEmail}" /></td>
            </tr>
            <tr>
                <td>User Status:</td>
                <td>
                    <select th:field="*{userStatus}">
                        <option th:value="'ACTIVE'" th:text="ACTIVE"></option>
                        <option th:value="'INACTIVE'" th:text="INACTIVE"></option>
                        <option th:value="'BLOCKED'" th:text="BLOCKED"></option>
                    </select>
                </td>


            </tr>

            <tr>
                <a  id="links2" th:href="@{/saveuser}"><button class="head_comands">Save</button></a> <!--change to saveuser-->



        </table>
    </form>
</div>
</body>
</html>
