<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Create New User</title>
</head>
<body>
<div align="center">
    <h1>Create New User</h1>
    <br />
    <form action="#" th:action="@{/saveuser}" th:object="${user}"
          method="post">

        <table border="0" cellpadding="10">
            <tr>
                <td>User Id:</td>
                <td><input type="number" th:field="*{userId}" /></td>
            </tr>
            <tr>
                <td>UserName:</td>
                <td><input type="text" th:field="*{userName}" /></td>
            </tr>
            <tr>
                <td>User Password:</td>
                <td><input type="text" th:field="*{userPassword}" /></td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td><input type="text" th:field="*{userLastName}" /></td>
            </tr>
            <tr>
                <td>First Name:</td>
                <td><input type="text" th:field="*{userFirstName}" /></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><input type="text" th:field="*{userEmail}" /></td>
            </tr>
            <tr>
                <td>User Status:</td>
                <td><input type="text" th:field="*{userStatus}" /></td>
            </tr>

            <tr>
                <td colspan="2"><button type="submit">Save</button> </td>



        </table>
    </form>
</div>
</body>
</html>
