<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Create New Comment</title>
    <link th:href="@{/css/new_comment.css}" rel="stylesheet"/>

</head>
<body>
<div align="center">
    <h1>Create New Comment</h1>
    <a id="links2" href="/"><button class="head_comands" >Home Page</button></a>
    <br />
    <form action="#" th:action="@{/savecomment}" th:object="${comment}"
          method="post">

        <table border="0" cellpadding="10">

            <tr>
                <td>Comment:</td>
                <td><input type="text" th:field="*{commentContent}"/></td>
            </tr>


            <tr>
                <td>UserName:</td>
                <td><input type="text" th:field="*{userId.userName}"/></td>
            </tr>

            <tr>
                <a id="links" th:href="@{/savecomment}"><button class="head_comands">Save</button></a><!--hange to savecomment-->

        </table>
    </form>
</div>
</body>
</html>
