<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ListOfPosts</title>
</head>
<div align="center">
    <h1>Post List</h1>
    <a href="/new">Create New Post</a>
    <br/><br/>
    <table border="1" cellpadding="10">

        <thead>

        <tr>
            <th>Post ID</th>
            <th>Post Title</th>
            <th>Post Content</th>
            <th>Created AT</th>
            <th>Update At</th>
            <th>Post Status</th>
            <th>User Id</th>
            <th>Comments</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post : ${posts}">
            <td th:text="${post.postId}"></td>
            <td th:text="${post.postTitle}"></td>
            <td th:text="${post.postContent}"></td>
            <td th:text="${post.create_time}"></td>
            <td th:text="${post.update_time}"></td>
            <td th:text="${post.postStatus}"></td>
            <td><span th:each="user : ${post.userId}" th:text="${user.userId} "/></td>
            <td><span th:each="comment : ${post.comments}" th:text="${comment.commentContent} "/></td>
            <td>
                <a th:href="@{/edit/{id}(id=${post.postId})}">Edit</a> |
                <a th:href="@{/delete/{id}(id=${post.postId})}">Delete</a>
            </td>



        </tbody>
    </table>
</div>
</html>
