
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:font-style="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Post Content</title>
    <link th:href="@{/css/post_content.css}" rel="stylesheet" />
</head>
<div align="center">
    <a id="links" href="/"><button class="head_comands">Home Page</button></a>
    <br/><br/>
        <tr th:each="post : ${postcontent}">
            <h1>

                Post Tittle:<br>
                <span style="color:darkviolet" th:text="${post.postTitle}" th:remove="tag"></span><br>
                <br>
                Post Content:<br>
                <span style="color:darkred" th:text="${post.postContent}" ></span><br>
                <br>
                Comments:<br>
                <span th:each="comment : ${postcontent.comments}" th:text="${comment.commentId}"></span> .
                <span th:each="comment : ${postcontent.comments}" th:text="${comment.commentContent} "></span><br>
                by:
                <span th:each="comment : ${postcontent.userId}" th:text="${comment.userName}"></span>

            </h1><br>
            <a id="links4" th:href="@{/createcomment/{id}(id=${post.postId})}"><button class="head_comands_Edit_Delete" align ="right">Add comment</button></a>
        </tr>
</div>
</html>
