<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ListOfUsers</title>
    <link th:href="@{/css/user_full_info.css}" rel="stylesheet" />
</head>
<div align="center">
    <h1>User Info</h1>
    <a id="links" href="/"><button class="head_comands">Home Page</button></a>
    <br/><br/>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>User ID</th>
            <th>Username</th>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Email</th>
            <th>User Status</th>
            <th>Post Title</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${userinfo}">
            <td th:text="${user.userId}"></td>
            <td th:text="${user.userName}"></td>
            <td th:text="${user.userLastName}"></td>
            <td th:text="${user.userFirstName}"></td>
            <td th:text="${user.userEmail}"></td>
            <td th:text="${user.userStatus}">
            <td><span th:each="post : ${user.posts}" th:text="${post.postTitle} " aria-readonly="true"/></td>

        <td>
            <a id="links2" th:href="@{/edituser/{id}(id=${user.userId})}"><button class="head_comands_Edit_Delete">Edit</button></a>
            <a id="links3" th:href="@{/deleteuser/{id}(id=${user.userId})}"><button class="head_comands_Edit_Delete">Delete</button></a>
        </td>





        </tbody>
    </table>
</div>
</html>
