<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ListOfUsers</title>
</head>
<div align="center">
    <h1>User List</h1>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>User ID</th>
            <th>Username</th>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Email</th>
            <th>User Status</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.userId}"></td>
            <td th:text="${user.userName}"></td>
            <td th:text="${user.userLastName}"></td>
            <td th:text="${user.userFirstName}"></td>
            <td th:text="${user.userEmail}"></td>
            <td th:text="${user.userStatus}"></td>


            <td>

        </tbody>
    </table>
</div>
</html>
