<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ListOfUsers</title>
    <link th:href="@{/css/user.css}" rel="stylesheet" />
</head>
<div align="center">
    <h1>User List</h1>
    <a id="links2" href="/newuser"><button class="head_comands">Create New User</button></a>
    <a id="links" href="/"><button class="head_comands">Home Page</button></a>
    <br/><br/>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
        <tr>

            <th>Username</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">

            <td>
                <a th:href="@{/userinfo/{id}(id=${user.userId})}" th:text="${user.userName}" style="color:red" />
            </td>

            </tr>
        </tbody>
    </table>
</div>
</html>


